<main>
    <h1>Wordle Mockups</h1>
    <div class="mockups-container">
        <div class="mockup-frame">
            <h2>Main</h2>
            <img ngSrc="mockups/mockup_main/screen.png" width="1600" height="1280" priority alt="Main Screen">
        </div>
        <div class="mockup-frame">
            <h2>Instructions</h2>
            <img ngSrc="mockups/mockup_instructions/screen.png" width="1600" height="1280" alt="Instructions Screen">
        </div>
        <div class="mockup-frame">
            <h2>Stats</h2>
            <img ngSrc="mockups/mockup_stats/screen.png" width="1600" height="1280" alt="Stats Screen">
        </div>
        <div class="mockup-frame">
            <h2>Won</h2>
            <img ngSrc="mockups/mockup_won/screen.png" width="1600" height="1280" alt="Won Screen">
        </div>
    </div>
</main>