.tile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #dee2e6;
    font-weight: 700;
    text-transform: uppercase;
    user-select: none;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 5px;

    &.tile-correct {
        background-color: #4CAF50;
        border-color: #4CAF50;
        color: white;
    }

    &.tile-present {
        background-color: #FACC15;
        border-color: #FACC15;
        color: white;
    }

    &.tile-absent {
        background-color: #94a3b8;
        border-color: #94a3b8;
        color: white;
    }

    width: 40px;
    height: 40px;
    font-size: 1.25rem;
}