.tile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--app-color-border);
    font-weight: 700;
    text-transform: uppercase;
    user-select: none;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 5px;

    &.tile-correct {
        background-color: var(--game-color-correct);
        border-color: var(--game-color-correct);
        color: var(--app-color-white);
    }

    &.tile-present {
        background-color: var(--game-color-present);
        border-color: var(--game-color-present);
        color: var(--app-color-white);
    }

    &.tile-absent {
        background-color: var(--game-color-absent);
        border-color: var(--game-color-absent);
        color: var(--app-color-white);
    }

    width: 40px;
    height: 40px;
    font-size: 1.25rem;
}