.grid-container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 0.5rem;
    padding: 10px;
    height: 420px;
    width: 350px;
    margin: 0 auto;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
}

.tile {
    width: 100%;
    height: 100%;
    border: 2px solid #d3d6da;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
    box-sizing: border-box;
}