/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'styles/variables';
@import 'bootstrap/scss/bootstrap';
@import 'styles/tiles';

html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--app-color-background);
}

.fa-icon {
    width: 2rem;
    height: 2rem;
}